{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Magnoliga - Inicio </title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.png' %}" > <!--favicon-->

          <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/Inicio.css' %}"/>
</head>
<body>

    <div class="hero">
        <div id="navbar"></div>
        <div class="hero-content reveal-up">
            <h1>UNA DE LAS LIGAS DE <span class="naranja"> MAYOR TRADICION</span> EN</h1>
            <h1 class="naranja">GUADALAJARA</h1>
            <br>

            <p> BASQUETBOL PARA TODOS</p>

            <a href="{% url 'categorias' %}" class="btn"> EXPLORAR </a>
        </div>
    </div>

    <div id="footer"></div>

    <script src="{% static 'JS/main.js' %}"></script>
</body>
</html>
